@model Brand
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto" style="margin-top: 100px;">
            <h1>Create</h1>
            <form asp-action="create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input class="form-control" asp-for="Name" placeholder="Enter fullname">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="ImageFile">Image File</label>
                    <input class="form-control" asp-for="ImageFile" placeholder="Enter Image File">
                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                </div>*@
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>