
@model Brand
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card" style="width: 18rem; margin-top: 100px;">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Books count: @Model.Products.Count</h6>
                    <a asp-action="index" class="card-link btn btn-primary">Go to list</a>
                    <form asp-action="delete" method="post" class="d-inline-block">
                        <input type="hidden" value="@Model.Id" name="Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

