@model ProductComment
<div class="tab-content reviews-tab">
    <div class="tab-pane fade active" id="tab_three">
        <form asp-action="comment" asp-controller="product" method="post" class="review-form">
            @*<h5>1 review for <span>Chaz Kangeroo Hoodies</span></h5>
        <div class="total-reviews">
            <div class="rev-avatar">
                <img src="assets/img/about/avatar.jpg" alt="">
            </div>
            <div class="review-box">
                <div class="ratings">
                    <span class="good"><i class="fa fa-star"></i></span>
                    <span class="good"><i class="fa fa-star"></i></span>
                    <span class="good"><i class="fa fa-star"></i></span>
                    <span class="good"><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                </div>
                <div class="post-author">
                    <p><span>admin -</span> 30 Nov, 2018</p>
                </div>
                <p>Aliquam fringilla euismod risus ac bibendum. Sed sit amet sem varius ante feugiat lacinia. Nunc ipsum nulla, vulputate ut venenatis vitae, malesuada ut mi. Quisque iaculis, dui congue placerat pretium, augue erat accumsan lacus</p>
            </div>
        </div>*@
            @*<div class="form-group row">
            <div class="col">
                <label class="col-form-label"><span class="text-danger">*</span> Your Name</label>
                <input type="text" class="form-control" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label class="col-form-label"><span class="text-danger">*</span> Your Email</label>
                <input type="email" class="form-control" required>
            </div>
        </div>*@
            <input type="hidden" value="@Model.ProductId" name="productId" />
            <div class="form-group row">
                <div class="col">
                    <label asp-for="Text" class="col-form-label"><span class="text-danger">*</span> Your Review</label>
                    <textarea asp-for="Text" class="form-control" required></textarea>
                    <div class="help-block pt-10"><span class="text-danger">Note:</span> HTML is not translated!</div>
                    <span class="text-danger" asp-validation-for="Text"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label class="col-form-label"><span class="text-danger">*</span> Rating</label>
                    &nbsp;&nbsp;&nbsp; Bad&nbsp;
                    <input type="radio" value="1" asp-for="Rate">
                    &nbsp;
                    <input type="radio" value="2" asp-for="Rate">
                    &nbsp;
                    <input type="radio" value="3" asp-for="Rate">
                    &nbsp;
                    <input type="radio" value="4" asp-for="Rate">
                    &nbsp;
                    <input type="radio" value="5" asp-for="Rate" checked>
                    &nbsp;Good
                </div>
                <span class="text-danger" asp-validation-for="Rate"></span>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </div>
            <div class="buttons">
                <button class="sqr-btn" type="submit">Post Comment</button>
            </div>
        </form> <!-- end of review-form -->
    </div>
</div>
